<a href="https://colab.research.google.com/github/VEDAVYAS28/HillandValley/blob/main/Hill_and_Valley_Prediction_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
df = pd.read_csv('/content/hill and valley.csv')

In [4]:
 df.head()

,V1,V2,V3,V4,V5,V6,V7,V8,V9,V10,...,V92,V93,V94,V95,V96,V97,V98,V99,V100,Class
0,39.02,36.49,38.20,38.85,39.38,39.74,37.02,39.53,38.81,38.79,...,36.62,36.92,38.80,38.52,38.07,36.73,39.46,37.50,39.10,0
1,1.83,1.71,1.77,1.77,1.68,1.78,1.80,1.70,1.75,1.78,...,1.80,1.79,1.77,1.74,1.74,1.80,1.78,1.75,1.69,1
2,68177.69,66138.42,72981.88,74304.33,67549.66,69367.34,69169.41,73268.61,74465.84,72503.37,...,73438.88,71053.35,71112.62,74916.48,72571.58,66348.97,71063.72,67404.27,74920.24,1
3,44889.06,39191.86,40728.46,38576.36,45876.06,47034.00,46611.43,37668.32,40980.89,38466.15,...,42625.67,40684.20,46960.73,44546.80,45410.53,47139.44,43095.68,40888.34,39615.19,0
4,5.70,5.40,5.28,5.38,5.27,5.61,6.00,5.38,5.34,5.87,...,5.17,5.67,5.60,5.94,5.73,5.22,5.30,5.73,5.91,0

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1212 entries, 0 to 1211
Columns: 101 entries, V1 to Class
dtypes: float64(100), int64(1)
memory usage: 956.5 KB

In [6]:
df.describe()

,V1,V2,V3,V4,V5,V6,V7,V8,V9,V10,...,V92,V93,V94,V95,V96,V97,V98,V99,V100,Class
count,1212.000000,1212.000000,1212.000000,1212.000000,1212.000000,1212.000000,1212.000000,1212.000000,1212.000000,1212.000000,...,1212.000000,1212.000000,1212.000000,1212.000000,1212.000000,1212.000000,1212.000000,1212.000000,1212.000000,1212.000000
mean,8169.091881,8144.306262,8192.653738,8176.868738,8128.297211,8173.030008,8188.582748,8183.641543,8154.670066,8120.767574,...,8120.056815,8125.917409,8158.793812,8140.885421,8213.480611,8185.594002,8140.195355,8192.960891,8156.197376,0.500000
std,17974.950461,17881.049734,18087.938901,17991.903982,17846.757963,17927.114105,18029.562695,18048.582159,17982.390713,17900.798206,...,17773.190621,17758.182403,17919.510371,17817.945646,18016.445265,17956.084223,17768.356106,18064.781479,17829.310973,0.500206
min,0.920000,0.900000,0.850000,0.890000,0.880000,0.860000,0.870000,0.650000,0.650000,0.620000,...,0.870000,0.900000,0.870000,0.880000,0.890000,0.890000,0.860000,0.910000,0.890000,0.000000
25%,19.602500,19.595000,18.925000,19.277500,19.210000,19.582500,18.690000,19.062500,19.532500,19.285000,...,19.197500,18.895000,19.237500,19.385000,19.027500,19.135000,19.205000,18.812500,19.145000,0.000000
50%,301.425000,295.205000,297.260000,299.720000,295.115000,294.380000,295.935000,290.850000,294.565000,295.160000,...,297.845000,295.420000,299.155000,293.355000,301.370000,296.960000,300.925000,299.200000,302.275000,0.500000
75%,5358.795000,5417.847500,5393.367500,5388.482500,5321.987500,5328.040000,5443.977500,5283.655000,5378.180000,5319.097500,...,5355.355000,5386.037500,5286.385000,5345.797500,5300.890000,5361.047500,5390.850000,5288.712500,5357.847500,1.000000
max,117807.870000,108896.480000,119031.350000,110212.590000,113000.470000,116848.390000,115609.240000,118522.320000,112895.900000,117798.300000,...,113858.680000,112948.830000,112409.570000,112933.730000,112037.220000,115110.420000,116431.960000,113291.960000,114533.760000,1.000000

In [7]:
print(df.columns.tolist())

['V1', 'V2', 'V3', 'V4', 'V5', 'V6', 'V7', 'V8', 'V9', 'V10', 'V11', 'V12', 'V13', 'V14', 'V15', 'V16', 'V17', 'V18', 'V19', 'V20', 'V21', 'V22', 'V23', 'V24', 'V25', 'V26', 'V27', 'V28', 'V29', 'V30', 'V31', 'V32', 'V33', 'V34', 'V35', 'V36', 'V37', 'V38', 'V39', 'V40', 'V41', 'V42', 'V43', 'V44', 'V45', 'V46', 'V47', 'V48', 'V49', 'V50', 'V51', 'V52', 'V53', 'V54', 'V55', 'V56', 'V57', 'V58', 'V59', 'V60', 'V61', 'V62', 'V63', 'V64', 'V65', 'V66', 'V67', 'V68', 'V69', 'V70', 'V71', 'V72', 'V73', 'V74', 'V75', 'V76', 'V77', 'V78', 'V79', 'V80', 'V81', 'V82', 'V83', 'V84', 'V85', 'V86', 'V87', 'V88', 'V89', 'V90', 'V91', 'V92', 'V93', 'V94', 'V95', 'V96', 'V97', 'V98', 'V99', 'V100', 'Class']

In [8]:
df.shape

(1212, 101)

In [9]:
df['Class'].value_counts()

0    606
1    606
Name: Class, dtype: int64

In [10]:
df.groupby('Class').mean()

,V1,V2,V3,V4,V5,V6,V7,V8,V9,V10,...,V91,V92,V93,V94,V95,V96,V97,V98,V99,V100
Class,,,,,,,,,,,,,,,,,,,,,
0,7913.333251,7825.339967,7902.497294,7857.032079,7775.610198,7875.436337,7804.166584,7722.324802,7793.328416,7686.782046,...,7753.427244,7737.843366,7799.332079,7825.211700,7791.354010,7927.237112,7874.502343,7844.227459,7875.338713,7855.181172
1,8424.850512,8463.272558,8482.810182,8496.705396,8480.984224,8470.623680,8572.998911,8644.958284,8516.011716,8554.753102,...,8478.513399,8502.270264,8452.502739,8492.375924,8490.416832,8499.724109,8496.685660,8436.163251,8510.583069,8457.213581

In [11]:
y=df['Class']

In [12]:
y.shape

(1212,)

In [13]:
y

0       0
1       1
2       1
3       0
4       0
       ..
1207    1
1208    0
1209    1
1210    1
1211    0
Name: Class, Length: 1212, dtype: int64

In [14]:
X = df.drop('Class', axis=1)

In [15]:
X.shape

(1212, 100)

In [16]:
X

,V1,V2,V3,V4,V5,V6,V7,V8,V9,V10,...,V91,V92,V93,V94,V95,V96,V97,V98,V99,V100
0,39.02,36.49,38.20,38.85,39.38,39.74,37.02,39.53,38.81,38.79,...,37.57,36.62,36.92,38.80,38.52,38.07,36.73,39.46,37.50,39.10
1,1.83,1.71,1.77,1.77,1.68,1.78,1.80,1.70,1.75,1.78,...,1.71,1.80,1.79,1.77,1.74,1.74,1.80,1.78,1.75,1.69
2,68177.69,66138.42,72981.88,74304.33,67549.66,69367.34,69169.41,73268.61,74465.84,72503.37,...,69384.71,73438.88,71053.35,71112.62,74916.48,72571.58,66348.97,71063.72,67404.27,74920.24
3,44889.06,39191.86,40728.46,38576.36,45876.06,47034.00,46611.43,37668.32,40980.89,38466.15,...,47653.60,42625.67,40684.20,46960.73,44546.80,45410.53,47139.44,43095.68,40888.34,39615.19
4,5.70,5.40,5.28,5.38,5.27,5.61,6.00,5.38,5.34,5.87,...,5.52,5.17,5.67,5.60,5.94,5.73,5.22,5.30,5.73,5.91
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1207,13.00,12.87,13.27,13.04,13.19,12.53,14.31,13.33,13.63,14.55,...,12.89,12.48,12.15,13.15,12.35,13.58,13.86,12.88,13.87,13.51
1208,48.66,50.11,48.55,50.43,50.09,49.67,48.95,48.65,48.63,48.61,...,47.45,46.93,49.61,47.16,48.17,47.94,49.81,49.89,47.43,47.77
1209,10160.65,9048.63,8994.94,9514.39,9814.74,10195.24,10031.47,10202.28,9152.99,9591.75,...,10413.41,9068.11,9191.80,9275.04,9848.18,9074.17,9601.74,10366.24,8997.60,9305.77
1210,34.81,35.07,34.98,32.37,34.16,34.03,33.31,32.48,35.63,32.48,...,33.18,32.76,35.03,32.89,31.91,33.85,35.28,32.49,32.83,34.82
1211,8489.43,7672.98,9132.14,7985.73,8226.85,8554.28,8838.87,8967.24,8635.14,8544.37,...,7747.70,8609.73,9209.48,8496.33,8724.01,8219.99,8550.86,8679.43,8389.31,8712.80

In [20]:
import matplotlib.pyplot as plt

In [ ]:
plt.plot(x.iloc[0,:])
plt.title('Valley');

In [ ]:
plt.plot(x.iloc[1,:])
plt.title('Hill');

In [24]:
from sklearn.preprocessing import StandardScaler

In [25]:
ss= StandardScaler()

In [26]:
X=ss.fit_transform(X)

In [27]:
X

array([[-0.45248681, -0.45361784, -0.45100881, ..., -0.45609618,
        -0.45164274, -0.45545496],
       [-0.45455665, -0.45556372, -0.45302369, ..., -0.45821768,
        -0.45362255, -0.45755405],
       [ 3.33983504,  3.24466709,  3.58338069, ...,  3.5427869 ,
         3.27907378,  3.74616847],
       ...,
       [ 0.11084204,  0.0505953 ,  0.04437307, ...,  0.12533312,
         0.04456025,  0.06450317],
       [-0.45272112, -0.45369729, -0.45118691, ..., -0.45648861,
        -0.45190136, -0.45569511],
       [ 0.01782872, -0.02636986,  0.05196137, ...,  0.03036056,
         0.01087365,  0.03123129]])

In [28]:
 X.shape

(1212, 100)

In [29]:
from sklearn.model_selection import train_test_split

In [30]:
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=0.3, random_state=142529)

In [31]:
X_train.shape, X_test.shape, y_train.shape, y_test.shape

((848, 100), (364, 100), (848,), (364,))

In [32]:
from sklearn.linear_model import LogisticRegression

In [33]:
lr=LogisticRegression()

In [34]:
lr.fit(X_train,y_train)

LogisticRegression()

In [35]:
y_pred= lr.predict(X_test)

In [36]:
y_pred.shape

(364,)

In [37]:
y_pred

array([0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0,
       1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 1, 0, 0, 1,
       0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0,
       1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0,
       1, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0,
       1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0,
       0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 1,
       1, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1,
       0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0,
       1, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 1, 1, 0, 1, 1, 0, 0, 0, 0,
       0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0,
       0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0,
       0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 1, 0,
       0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0])

In [38]:
lr.predict_proba(X_test)

array([[5.07613075e-01, 4.92386925e-01],
       [5.07000838e-01, 4.92999162e-01],
       [5.06376288e-01, 4.93623712e-01],
       [5.07729300e-01, 4.92270700e-01],
       [9.26803095e-01, 7.31969045e-02],
       [5.11847215e-01, 4.88152785e-01],
       [4.89189936e-01, 5.10810064e-01],
       [5.14723614e-01, 4.85276386e-01],
       [5.13453565e-01, 4.86546435e-01],
       [2.06187324e-01, 7.93812676e-01],
       [5.06381373e-01, 4.93618627e-01],
       [6.02111985e-01, 3.97888015e-01],
       [9.98011474e-01, 1.98852650e-03],
       [5.06983212e-01, 4.93016788e-01],
       [5.07079739e-01, 4.92920261e-01],
       [5.49752914e-01, 4.50247086e-01],
       [2.56699819e-01, 7.43300181e-01],
       [4.10893834e-01, 5.89106166e-01],
       [5.07011121e-01, 4.92988879e-01],
       [5.06988112e-01, 4.93011888e-01],
       [5.06972323e-01, 4.93027677e-01],
       [5.06969908e-01, 4.93030092e-01],
       [4.96505861e-01, 5.03494139e-01],
       [4.96698687e-01, 5.03301313e-01],
       [5.07032503e-01, 4.92967497e-01],
       [5.06334124e-01, 4.93665876e-01],
       [9.94985310e-01, 5.01469038e-03],
       [5.07190336e-01, 4.92809664e-01],
       [5.07261414e-01, 4.92738586e-01],
       [4.49716783e-01, 5.50283217e-01],
       [5.06884205e-01, 4.93115795e-01],
       [5.06905800e-01, 4.93094200e-01],
       [4.99735229e-01, 5.00264771e-01],
       [7.47325920e-01, 2.52674080e-01],
       [4.55662485e-01, 5.44337515e-01],
       [5.06941985e-01, 4.93058015e-01],
       [5.06992533e-01, 4.93007467e-01],
       [5.06500570e-01, 4.93499430e-01],
       [4.91611991e-01, 5.08388009e-01],
       [5.02511251e-01, 4.97488749e-01],
       [4.96958534e-01, 5.03041466e-01],
       [5.05180563e-01, 4.94819437e-01],
       [5.03666423e-01, 4.96333577e-01],
       [1.10455103e-01, 8.89544897e-01],
       [8.61201849e-01, 1.38798151e-01],
       [5.06988814e-01, 4.93011186e-01],
       [5.07027049e-01, 4.92972951e-01],
       [4.54836516e-01, 5.45163484e-01],
       [5.06318177e-01, 4.93681823e-01],
       [8.51806781e-01, 1.48193219e-01],
       [5.13390051e-01, 4.86609949e-01],
       [5.09642365e-01, 4.90357635e-01],
       [5.00889860e-01, 4.99110140e-01],
       [8.07577433e-01, 1.92422567e-01],
       [5.06326119e-01, 4.93673881e-01],
       [5.06862841e-01, 4.93137159e-01],
       [5.06960999e-01, 4.93039001e-01],
       [5.07073551e-01, 4.92926449e-01],
       [6.38844277e-01, 3.61155723e-01],
       [4.91262612e-01, 5.08737388e-01],
       [5.07505960e-01, 4.92494040e-01],
       [4.97488296e-01, 5.02511704e-01],
       [5.06969643e-01, 4.93030357e-01],
       [5.07034127e-01, 4.92965873e-01],
       [5.05885999e-01, 4.94114001e-01],
       [5.27664970e-01, 4.72335030e-01],
       [2.46690155e-01, 7.53309845e-01],
       [5.07001542e-01, 4.92998458e-01],
       [5.07279736e-01, 4.92720264e-01],
       [5.06200314e-01, 4.93799686e-01],
       [7.97636083e-01, 2.02363917e-01],
       [5.07163475e-01, 4.92836525e-01],
       [2.10335330e-01, 7.89664670e-01],
       [1.58415158e-01, 8.41584842e-01],
       [5.08951726e-01, 4.91048274e-01],
       [5.07036509e-01, 4.92963491e-01],
       [5.17190231e-01, 4.82809769e-01],
       [9.95362468e-01, 4.63753152e-03],
       [3.93050479e-01, 6.06949521e-01],
       [5.09102459e-01, 4.90897541e-01],
       [4.97134342e-01, 5.02865658e-01],
       [5.27047507e-01, 4.72952493e-01],
       [9.86191262e-02, 9.01380874e-01],
       [5.45920679e-01, 4.54079321e-01],
       [5.07006220e-01, 4.92993780e-01],
       [5.07011118e-01, 4.92988882e-01],
       [5.07031477e-01, 4.92968523e-01],
       [5.07906239e-01, 4.92093761e-01],
       [5.32017972e-01, 4.67982028e-01],
       [5.06985714e-01, 4.93014286e-01],
       [5.06676259e-01, 4.93323741e-01],
       [5.10799096e-01, 4.89200904e-01],
       [6.62097060e-01, 3.37902940e-01],
       [2.68169258e-01, 7.31830742e-01],
       [5.06029783e-01, 4.93970217e-01],
       [5.07006052e-01, 4.92993948e-01],
       [5.06227397e-01, 4.93772603e-01],
       [5.02532283e-01, 4.97467717e-01],
       [5.07583810e-01, 4.92416190e-01],
       [5.07479609e-01, 4.92520391e-01],
       [5.12313506e-01, 4.87686494e-01],
       [4.90707868e-01, 5.09292132e-01],
       [5.14037529e-01, 4.85962471e-01],
       [5.04325967e-01, 4.95674033e-01],
       [5.07113323e-01, 4.92886677e-01],
       [5.06436265e-01, 4.93563735e-01],
       [5.04553697e-01, 4.95446303e-01],
       [5.07480370e-01, 4.92519630e-01],
       [4.96295973e-01, 5.03704027e-01],
       [5.18423246e-01, 4.81576754e-01],
       [4.66984182e-01, 5.33015818e-01],
       [5.38388915e-01, 4.61611085e-01],
       [5.07325270e-01, 4.92674730e-01],
       [1.12506122e-01, 8.87493878e-01],
       [5.07051153e-01, 4.92948847e-01],
       [4.87778243e-01, 5.12221757e-01],
       [4.65964624e-01, 5.34035376e-01],
       [5.07212614e-01, 4.92787386e-01],
       [5.29302773e-01, 4.70697227e-01],
       [5.00830249e-01, 4.99169751e-01],
       [5.04526399e-01, 4.95473601e-01],
       [5.07023592e-01, 4.92976408e-01],
       [4.76392299e-01, 5.23607701e-01],
       [5.67799943e-01, 4.32200057e-01],
       [5.38286079e-01, 4.61713921e-01],
       [5.06976895e-01, 4.93023105e-01],
       [5.02485296e-01, 4.97514704e-01],
       [5.06864301e-01, 4.93135699e-01],
       [5.03409318e-01, 4.96590682e-01],
       [5.09568748e-01, 4.90431252e-01],
       [5.06973864e-01, 4.93026136e-01],
       [5.52353472e-01, 4.47646528e-01],
       [5.04402468e-01, 4.95597532e-01],
       [5.08366146e-01, 4.91633854e-01],
       [5.07174326e-01, 4.92825674e-01],
       [5.08081170e-01, 4.91918830e-01],
       [5.21513808e-01, 4.78486192e-01],
       [2.37174549e-01, 7.62825451e-01],
       [5.03715048e-01, 4.96284952e-01],
       [4.57553889e-01, 5.42446111e-01],
       [5.06955020e-01, 4.93044980e-01],
       [5.06964881e-01, 4.93035119e-01],
       [5.07111252e-01, 4.92888748e-01],
       [5.15485264e-01, 4.84514736e-01],
       [5.07038863e-01, 4.92961137e-01],
       [5.07006548e-01, 4.92993452e-01],
       [3.96726666e-01, 6.03273334e-01],
       [5.06619843e-01, 4.93380157e-01],
       [5.06341963e-01, 4.93658037e-01],
       [2.06102442e-01, 7.93897558e-01],
       [5.11440954e-01, 4.88559046e-01],
       [9.49754954e-01, 5.02450465e-02],
       [5.06977416e-01, 4.93022584e-01],
       [5.07146089e-01, 4.92853911e-01],
       [4.74272393e-01, 5.25727607e-01],
       [5.06975870e-01, 4.93024130e-01],
       [5.07304514e-01, 4.92695486e-01],
       [5.07239347e-01, 4.92760653e-01],
       [5.09929460e-01, 4.90070540e-01],
       [5.07152449e-01, 4.92847551e-01],
       [4.87919160e-01, 5.12080840e-01],
       [5.08547284e-01, 4.91452716e-01],
       [5.07044091e-01, 4.92955909e-01],
       [6.56253604e-01, 3.43746396e-01],
       [3.25169151e-01, 6.74830849e-01],
       [5.07067108e-01, 4.92932892e-01],
       [5.07021540e-01, 4.92978460e-01],
       [5.07041382e-01, 4.92958618e-01],
       [5.06913866e-01, 4.93086134e-01],
       [4.02707914e-01, 5.97292086e-01],
       [5.06617693e-01, 4.93382307e-01],
       [5.24033132e-01, 4.75966868e-01],
       [5.06997524e-01, 4.93002476e-01],
       [9.11149353e-01, 8.88506473e-02],
       [6.66784571e-01, 3.33215429e-01],
       [5.06895310e-01, 4.93104690e-01],
       [5.06920869e-01, 4.93079131e-01],
       [1.07181910e-01, 8.92818090e-01],
       [5.01964057e-01, 4.98035943e-01],
       [5.08230093e-01, 4.91769907e-01],
       [5.89845648e-01, 4.10154352e-01],
       [6.01799248e-01, 3.98200752e-01],
       [4.61856632e-01, 5.38143368e-01],
       [5.03198341e-01, 4.96801659e-01],
       [5.07570206e-01, 4.92429794e-01],
       [5.10601660e-01, 4.89398340e-01],
       [5.06976138e-01, 4.93023862e-01],
       [5.06567914e-01, 4.93432086e-01],
       [4.44833181e-01, 5.55166819e-01],
       [5.07026890e-01, 4.92973110e-01],
       [8.30253533e-01, 1.69746467e-01],
       [3.21704706e-01, 6.78295294e-01],
       [1.43616447e-01, 8.56383553e-01],
       [5.07004122e-01, 4.92995878e-01],
       [5.07838350e-01, 4.92161650e-01],
       [5.03791508e-01, 4.96208492e-01],
       [5.06935889e-01, 4.93064111e-01],
       [4.27016288e-01, 5.72983712e-01],
       [4.36676312e-01, 5.63323688e-01],
       [5.07810881e-01, 4.92189119e-01],
       [5.06958903e-01, 4.93041097e-01],
       [9.96207444e-01, 3.79255630e-03],
       [5.04434132e-01, 4.95565868e-01],
       [3.19135875e-01, 6.80864125e-01],
       [4.90379489e-01, 5.09620511e-01],
       [5.07449791e-01, 4.92550209e-01],
       [5.07087986e-01, 4.92912014e-01],
       [3.61192558e-02, 9.63880744e-01],
       [5.07135605e-01, 4.92864395e-01],
       [5.39015425e-01, 4.60984575e-01],
       [5.06955835e-01, 4.93044165e-01],
       [5.06701434e-01, 4.93298566e-01],
       [5.07128614e-01, 4.92871386e-01],
       [5.05913176e-01, 4.94086824e-01],
       [5.07009499e-01, 4.92990501e-01],
       [5.09438650e-01, 4.90561350e-01],
       [5.05264156e-01, 4.94735844e-01],
       [5.07034451e-01, 4.92965549e-01],
       [5.07136599e-01, 4.92863401e-01],
       [4.92822521e-01, 5.07177479e-01],
       [5.06956245e-01, 4.93043755e-01],
       [5.05922105e-01, 4.94077895e-01],
       [4.79599068e-01, 5.20400932e-01],
       [5.07197721e-01, 4.92802279e-01],
       [5.01881952e-01, 4.98118048e-01],
       [5.03721173e-01, 4.96278827e-01],
       [6.28681239e-01, 3.71318761e-01],
       [5.06841365e-01, 4.93158635e-01],
       [5.70003575e-01, 4.29996425e-01],
       [5.07058555e-01, 4.92941445e-01],
       [7.50882620e-01, 2.49117380e-01],
       [5.07729973e-01, 4.92270027e-01],
       [5.05392599e-01, 4.94607401e-01],
       [5.11865554e-01, 4.88134446e-01],
       [5.14008155e-01, 4.85991845e-01],
       [5.07009301e-01, 4.92990699e-01],
       [5.06776254e-01, 4.93223746e-01],
       [2.60124441e-01, 7.39875559e-01],
       [3.09005531e-01, 6.90994469e-01],
       [4.20163340e-01, 5.79836660e-01],
       [5.07761340e-01, 4.92238660e-01],
       [5.03096282e-01, 4.96903718e-01],
       [4.44134272e-01, 5.55865728e-01],
       [5.07052288e-01, 4.92947712e-01],
       [8.97587288e-01, 1.02412712e-01],
       [4.85601081e-01, 5.14398919e-01],
       [5.07022083e-01, 4.92977917e-01],
       [5.06871710e-01, 4.93128290e-01],
       [5.06998072e-01, 4.93001928e-01],
       [4.77644707e-01, 5.22355293e-01],
       [2.74503956e-01, 7.25496044e-01],
       [5.07162647e-01, 4.92837353e-01],
       [9.59664685e-01, 4.03353153e-02],
       [5.06915977e-01, 4.93084023e-01],
       [5.06506711e-01, 4.93493289e-01],
       [3.02524471e-01, 6.97475529e-01],
       [4.98973253e-01, 5.01026747e-01],
       [5.06961723e-01, 4.93038277e-01],
       [4.97808354e-02, 9.50219165e-01],
       [5.37389044e-04, 9.99462611e-01],
       [5.40565463e-01, 4.59434537e-01],
       [5.42609828e-01, 4.57390172e-01],
       [5.16067263e-01, 4.83932737e-01],
       [5.08801815e-01, 4.91198185e-01],
       [5.17139322e-01, 4.82860678e-01],
       [5.06297891e-01, 4.93702109e-01],
       [5.13994935e-01, 4.86005065e-01],
       [4.82363422e-01, 5.17636578e-01],
       [5.02537517e-01, 4.97462483e-01],
       [8.15525656e-01, 1.84474344e-01],
       [4.47333745e-01, 5.52666255e-01],
       [4.64002237e-01, 5.35997763e-01],
       [5.05067059e-01, 4.94932941e-01],
       [7.54580404e-01, 2.45419596e-01],
       [5.06650183e-01, 4.93349817e-01],
       [3.06126930e-02, 9.69387307e-01],
       [5.06242723e-01, 4.93757277e-01],
       [5.08599130e-01, 4.91400870e-01],
       [6.42991651e-01, 3.57008349e-01],
       [5.11992261e-01, 4.88007739e-01],
       [5.07027839e-01, 4.92972161e-01],
       [3.41482947e-01, 6.58517053e-01],
       [6.33067494e-01, 3.66932506e-01],
       [5.09480473e-01, 4.90519527e-01],
       [5.00631868e-01, 4.99368132e-01],
       [5.06891962e-01, 4.93108038e-01],
       [5.08797410e-01, 4.91202590e-01],
       [5.06698980e-01, 4.93301020e-01],
       [2.31990275e-01, 7.68009725e-01],
       [5.00624152e-01, 4.99375848e-01],
       [5.06981614e-01, 4.93018386e-01],
       [5.20663679e-01, 4.79336321e-01],
       [1.63444630e-01, 8.36555370e-01],
       [5.06931915e-01, 4.93068085e-01],
       [5.99514667e-01, 4.00485333e-01],
       [5.05359430e-01, 4.94640570e-01],
       [5.04280821e-01, 4.95719179e-01],
       [5.07059794e-01, 4.92940206e-01],
       [5.11365942e-01, 4.88634058e-01],
       [5.07198272e-01, 4.92801728e-01],
       [5.05763895e-01, 4.94236105e-01],
       [5.12617665e-01, 4.87382335e-01],
       [4.90411138e-01, 5.09588862e-01],
       [4.02739838e-01, 5.97260162e-01],
       [5.08538225e-01, 4.91461775e-01],
       [5.07105972e-01, 4.92894028e-01],
       [5.01755991e-01, 4.98244009e-01],
       [5.10770854e-01, 4.89229146e-01],
       [5.06980294e-01, 4.93019706e-01],
       [5.06970279e-01, 4.93029721e-01],
       [1.42900875e-01, 8.57099125e-01],
       [5.07032405e-01, 4.92967595e-01],
       [7.90688365e-01, 2.09311635e-01],
       [7.12180601e-01, 2.87819399e-01],
       [6.55567815e-01, 3.44432185e-01],
       [5.07165063e-01, 4.92834937e-01],
       [8.85556114e-01, 1.14443886e-01],
       [5.06833540e-01, 4.93166460e-01],
       [5.06876777e-01, 4.93123223e-01],
       [5.07266619e-01, 4.92733381e-01],
       [5.07171392e-01, 4.92828608e-01],
       [1.88791458e-01, 8.11208542e-01],
       [2.21364327e-01, 7.78635673e-01],
       [5.07034740e-01, 4.92965260e-01],
       [5.06983745e-01, 4.93016255e-01],
       [4.32913070e-01, 5.67086930e-01],
       [5.85729993e-01, 4.14270007e-01],
       [5.31431266e-01, 4.68568734e-01],
       [1.96993047e-01, 8.03006953e-01],
       [5.20135969e-01, 4.79864031e-01],
       [5.08702455e-01, 4.91297545e-01],
       [5.10736435e-01, 4.89263565e-01],
       [5.07023470e-01, 4.92976530e-01],
       [3.09841175e-01, 6.90158825e-01],
       [5.16242992e-01, 4.83757008e-01],
       [5.07172118e-01, 4.92827882e-01],
       [5.65908253e-01, 4.34091747e-01],
       [4.12729201e-01, 5.87270799e-01],
       [6.15499219e-01, 3.84500781e-01],
       [4.44272445e-01, 5.55727555e-01],
       [5.42924416e-01, 4.57075584e-01],
       [5.07016219e-01, 4.92983781e-01],
       [6.93836290e-01, 3.06163710e-01],
       [5.06992048e-01, 4.93007952e-01],
       [5.28801893e-01, 4.71198107e-01],
       [6.36684933e-01, 3.63315067e-01],
       [2.43479216e-01, 7.56520784e-01],
       [5.06202723e-01, 4.93797277e-01],
       [5.04510637e-01, 4.95489363e-01],
       [5.07377038e-01, 4.92622962e-01],
       [5.06958876e-01, 4.93041124e-01],
       [5.05670218e-01, 4.94329782e-01],
       [5.06927614e-01, 4.93072386e-01],
       [5.21442105e-01, 4.78557895e-01],
       [5.04711069e-01, 4.95288931e-01],
       [5.07010025e-01, 4.92989975e-01],
       [5.06549183e-01, 4.93450817e-01],
       [5.06911595e-01, 4.93088405e-01],
       [5.06972114e-01, 4.93027886e-01],
       [9.48766849e-01, 5.12331514e-02],
       [5.06991080e-01, 4.93008920e-01],
       [5.07020220e-01, 4.92979780e-01],
       [5.30020450e-01, 4.69979550e-01],
       [5.07803314e-01, 4.92196686e-01]])

In [39]:
from sklearn.metrics import confusion_matrix, classification_report

In [40]:
print(confusion_matrix(y_test,y_pred))

[[177   7]
 [109  71]]

In [41]:
print(classification_report(y_test,y_pred))

              precision    recall  f1-score   support

           0       0.62      0.96      0.75       184
           1       0.91      0.39      0.55       180

    accuracy                           0.68       364
   macro avg       0.76      0.68      0.65       364
weighted avg       0.76      0.68      0.65       364

In [42]:
X_new=df.sample(1)

In [43]:
X_new

,V1,V2,V3,V4,V5,V6,V7,V8,V9,V10,...,V92,V93,V94,V95,V96,V97,V98,V99,V100,Class
222,3.17,3.25,3.32,3.26,3.2,3.22,3.25,3.35,3.36,3.34,...,3.2,3.14,3.2,3.35,3.26,3.16,3.27,3.35,3.15,1

In [44]:
X_new.shape

(1, 101)

In [45]:
X_new=X_new.drop('Class',axis=1)

In [46]:
X_new

,V1,V2,V3,V4,V5,V6,V7,V8,V9,V10,...,V91,V92,V93,V94,V95,V96,V97,V98,V99,V100
222,3.17,3.25,3.32,3.26,3.2,3.22,3.25,3.35,3.36,3.34,...,3.25,3.2,3.14,3.2,3.35,3.26,3.16,3.27,3.35,3.15

In [47]:
X_new.shape

(1, 100)

In [48]:
X_neew=ss.fit_transform(X_new)

In [49]:
y_pred_new=lr.predict(X_new)

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:444: UserWarning: X has feature names, but LogisticRegression was fitted without feature names
  f"X has feature names, but {self.__class__.__name__} was fitted without"

In [50]:
y_pred_new

array([1])

In [51]:
lr.predict_proba(X_new)

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:444: UserWarning: X has feature names, but LogisticRegression was fitted without feature names
  f"X has feature names, but {self.__class__.__name__} was fitted without"

array([[0.06953544, 0.93046456]])